<%- include('../partials/head.ejs') %>
<body>

    <div class="flog">
    <div class="log">
     <div class="box">
        <span class="borderLine"></span>
        <form method="post" action="/login">
            <h2>Sign in</h2>
            <div class="inputBox">
                <input name="email" type="email" required="required">
                <span>Email</span>
                <i></i>
            </div>
            <% if(emailError.length != 0) { %>
            <p class="user-error-message"><%= emailError %></p>
            <% } %>
            <div class="inputBox">
                <input name="password" type="password" required="required">
                <span>Password</span>
                <i class="fa-solid fa-eye" id="eye"></i>
            </div>
            <% if(passwordError.length !=0) { %>
                <p class="user-error-message"><%= passwordError %></p>
            <% } %>
            <div class="password_checkbox"><input type="checkbox" ><p>Show Password</p></div>

            <div class="forget_password"><a href="#">Forget Password?</a></div>
            <button class="login_button" type="submit">Login</button>
            <div class="signup_link"><a href="/signup">Don't have an Account ?</a></div>
            
        </form>
     </div>
    </div>
</div>
</body>
</html>